---
Language: Cpp
ColumnLimit: 80
AlignAfterOpenBracket: Align
NamespaceIndentation: All
PointerAlignment: Left
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
TabWidth: 2
AlwaysBreakTemplateDeclarations: true